{{ define "main" }}
<div class="page-header">
    <div class="page-header-inner">
        <h1 class="page-title">{{ .Title }}</h1>
        
        {{ if .Content }}
        <div class="page-description">
            {{ .Content }}
        </div>
        {{ end }}
        
        {{ if .Pages }}
        <div class="blog-posts">
            {{ range .Pages }}
            <article class="blog-post">
                <h3>{{ .Title }}</h3>
                <div class="blog-meta">{{ .Date.Format (i18n "date_format") }}</div>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="btn btn-secondary">{{ i18n "read_more" }}</a>
            </article>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
