<div class="academic-timeline">
    <h3 class="academic-timeline-title">📚 Academic Timeline</h3>
    <div class="timeline">
        {{ range .Site.Params.timeline }}
        <div class="timeline-item">
            <div class="timeline-marker">
                <span class="timeline-icon">{{ .icon }}</span>
            </div>
            <div class="timeline-content">
                <div class="timeline-header">
                    <div>
                        <h4>{{ .title }}</h4>
                        <span class="timeline-type">{{ .type }}</span>
                    </div>
                    <span class="timeline-date">{{ .period }}</span>
                </div>
                <p>{{ .description }}</p>
                {{ if .highlights }}
                <div class="highlights">
                    {{ range .highlights }}
                    <span class="highlight-tag">{{ . }}</span>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
