{{ $scss := resources.Get "scss/main.scss" }}
{{ $css := $scss | css.Sass | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">

{{ $customCSS := resources.Get "css/custom.css" }}
{{ if $customCSS }}
{{ $customCSSMin := $customCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $customCSSMin.RelPermalink }}" integrity="{{ $customCSSMin.Data.Integrity }}">
{{ end }}

{{ $js := resources.Get "js/main.js" }}
{{ $jsMin := $js | resources.Minify | resources.Fingerprint }}
<script src="{{ $jsMin.RelPermalink }}" integrity="{{ $jsMin.Data.Integrity }}" defer></script>
<script>
  // 尽早设置主题以防止闪烁
  (function() {
    try {
      const savedTheme = localStorage.getItem('theme');
      const theme = savedTheme || 'dark';
      document.documentElement.setAttribute('data-theme', theme);
    } catch (e) {
      console.error('Failed to set theme:', e);
    }
  })();
</script>